body {
  background-color: black;
  color: white !important;
}

iframe {
  border-radius: 10px;
}

hr {
  border-color: white;
}

.puntero {
  cursor: pointer;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.img-rounded {
  border-radius: 5px;
}

.card-title,
.card-text {
  color: black;
}

.badge {
  margin-left: 5px;
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 60px;
  height: 60px;
}

.app--link {
  text-decoration: none;
  color: #fff;
}

.app--link:hover {
  color: rgb(156, 156, 156);
}

.artist__table-fr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #a3a3a3;
}

.artist__wrapper-profile {
  display: flex;
  width: 400px;
  align-items: center;
}

.artist__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.artist__image {
  flex: 1;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
@media (max-width: 535px) {
  .artist__profile {
    display: block;
  }

  .artist__back button {
    margin-top: 20px;
    width: 100%;
  }

  .artist__wrapper-profile {
    width: 320px;
  }
}

@media (max-width: 995px) {
  .artist__table-header {
    display: none;
  }

  .artist__table-fr {
    text-align: center;
    grid-template-columns: 1fr;
    border: none;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    margin: 20px 0;
  }

  .img-thumb {
    width: 200px;
    height: 200px;
  }

  .img-rounded {
    border-radius: 100%;
  }
}
